.bgi
	background-repeat: no-repeat
	background-size: cover
	background-position: center center
	&.intro
		background-color: $black
		+MQMAX(M)
			background-position: -65px 112px
			background-size: cover
		@media (max-width: 550px)
			background-position: -211px 55px
		+MQMAX(S)
			background-position: -261px 112px
			background-size: 363%
		.row
			min-height: $heightSection
			+MQMAX(SL)
				min-height: rem-calc(750px)
	&.entry
		background-color: $black
		.row
			min-height: rem-calc(350px)
	&.app
		background-color: $primary
		background-attachment: fixed !important
		.row
			min-height: rem-calc(700px)
			+MQMAX(M)
				min-height: rem-calc(1004px)
	&.racer
		background-color: $black
		background-position-x: -450px
		+MQMAX(M)
			padding: 150px 0
		.row
			min-height: $heightSection
	&.member
		background-color: $black
		background-attachment: fixed !important
		.min-row
			min-height: rem-calc(436px)
	&.people
		background-color: $black
		.row
			min-height: rem-calc(150px)
			+MQMAX(SL)
				min-height: rem-calc(550px)

.bgc
	&-black
		background: rgba($black, 0.5)
	&--primary
		background: $primary
	&--primarylight
		background: $primary-light
	&_grad
		&--primary
			background: $primary
			background: linear-gradient(34deg, $primary 0%, $primary-light 100%);
