.box
	//
.box-footer
	p
		color: $black
.box-intro
	h1, h2, h3
		font-size: $text-large
		font-weight: $weight-bold
		line-height: $lineheight-small
		color: $primary
		span
			color: $primary-light
.box-app
	h2, h3
		font-size: $text-bigger
		font-weight: $weight-bold
		line-height: $lineheight-small
		color: $white
		span
			color: $terciary
