.box
	//
.box-footer
	p
		color: $black
.box-general
	h2, h3
		font-size: $text-bigger
		font-weight: $weight-bold
		line-height: $lineheight-small
.box-intro
	h1, h2, h3
		font-size: $text-large
		font-weight: $weight-bold
		line-height: $lineheight-small
		color: $primary
		+MQMAX(SL)
			font-size: $h3-font-size
			text-align: center
		span
			color: $primary-light

.box-racer
	h2, h3
		color: $white
		line-height: .9
		+MQMAX(SL)
			font-size: rem-calc(51px)
		span
			color: $terciary
	.subtitle
		h2, h3
			font-size: $h2-font-size
			line-height: .9
			+MQMAX(SL)
				font-size: rem-calc(37px)
	.paragraf
		p
			font-size: rem-calc(22px)
	.deco
		.circle
			background-color: $terciary
			width: 100px
			height: 100px
			display: flex
			border-radius: 50%
			align-items: center
			justify-content: center

.box-app
	h2, h3
		color: $white
		font-size: rem-calc(49px)
		line-height: .9
		+MQMAX(SL)
			font-size: rem-calc(38px)
			text-align: center
		span
			color: $terciary
	&-image
		position: relative
		min-height: rem-calc(722px)
		+MQMAX(SL)
			min-height: rem-calc(520px)
		.figure
			position: absolute
			top: -155px
			left: 0
			right: 0
			height: 0
			width: 100%
			display: block
			figure.item
				display: inline-block
				position: relative
				width: 75%
				&-01
					top: 0
					right: -175px
					+MQMAX(SL)
						top: 0
						right: -30px
				&-02
					top: -580px
    				left: -158px
					@media (max-width: $XL)
						left: -85px
					+MQMAX(SL)
						top: 0
						right: -30px
.box-member
	&-intro
		.title
			h2, h3
				font-size: $h4-font-size
				font-weight: $weight-normal
	&-max
		.title
			h2, h3
				font-size: rem-calc(142px)
				font-weight: $weight-bold
				line-height: $lineheight-small
				color: $primary
				+MQMAX(SL)
					font-size: rem-calc(60px)
					border-bottom: 2px solid $primary
	&-table
		background-color: rgba($black, 0.2)
		padding: $spacers4
		+MQMAX(SL)
			background-color: transparent
		ul
			+MQMAX(SL)
				padding-bottom: $spacers2
				border-bottom: 1px solid $gray
			p
				font-weight: $weight-normal
		ul.intro
			border-bottom: 0 solid transparent
			li
				vertical-align: bottom
				text-align: center
				span
					width: 100%
					display: block
					height: 2px
					background-color: $primary
					+MQMAX(SL)
						background-color: transparent
				h2
					font-size: $h5-font-size
					font-weight: $weight-bold
					text-transform: uppercase

//BOX PEOPLE
.box-people
	display: flex
	+MQMAX(SL)
		display: block
	figure
		width: rem-calc(260px)
		+MQMAX(SL)
			margin: 0 auto
	.content
		width: 45%
		+MQMAX(SL)
			width: 100%
		.paragraf
			margin-bottom: $spacers2
		.title
			h2, h3
				font-size: $h6-font-size
				color: $primary
				font-weight: $weight-normal
				text-transform: uppercase
	figure,
	.content
		padding: $spacers2
		display: block
		+MQ(SL)
			align-self: center !important
			flex: 1 auto

//BOX PARTNERS
.box-partners
	vertical-align: middle
	display: flex
	height: rem-calc(80px)
	img
		vertical-align: middle
		align-self: center
		margin: 0 auto
