.logo:before,
.icon:before
	content: ""
	display: inline-block
	background-repeat: no-repeat
	-webkit-background-size: contain
	background-size: contain
	background-position: center center
	vertical-align: middle
.logo
	position: relative
	vertical-align: middle
	display: inline-block
	&_site
		&:before
			background-image: url('#{$iconPath}logo-track.svg')
			width: $sizeLogoWithMax
			height: $sizeLogoHeightMax
		&-gray
			&:before
				background-image: url('#{$iconPath}logo-track-gray.svg')
				width: $sizeLogoWithMax
				height: $sizeLogoHeightMax
.icon
	position: relative
	vertical-align: middle
	display: inline-block
	&-insta:before
		background-image: url('#{$iconPath}insta.svg')
		width: $sizeIconMax
		height: $sizeIconMax
		+MQMAX(M)
			width: $sizeIconMin
			height: $sizeIconMin
	&-face:before
		background-image: url('#{$iconPath}face.svg')
		width: $sizeIconMax
		height: $sizeIconMax
		+MQMAX(M)
			width: $sizeIconMin
			height: $sizeIconMin
	&-twt:before
		background-image: url('#{$iconPath}twiter.svg')
		width: $sizeIconMax
		height: $sizeIconMax
		+MQMAX(M)
			width: $sizeIconMin
			height: $sizeIconMin
	&-diamon:before
		background-image: url('#{$iconPath}diamon.svg')
		width: $sizeIcon
		height: $sizeIcon
	&-gold:before
		background-image: url('#{$iconPath}24k.svg')
		width: $sizeIcon
		height: $sizeIcon
	&-check:before
		background-image: url('#{$iconPath}check.svg')
		width: $sizeIconSmall
		height: $sizeIconSmall
